{% extends './default_page.html' %}

{% block content %}
  <div class="Intro">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Bem vindo, fulano</h1>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Calendar
            </div>
            <div class="panel-body">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
{% endblock %}